<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>VegetaMag - User Profile</title>
</head>

<body class="bc-color">

<form method="post" th:object="${user}" th:action="@{/editProfile}">
    <div>
        <h2>User Profile</h2>

        <div>
            <div>
                <a class="mt-8">Name</a>
                <input type="text"
                       th:field="*{name}"
                       placeholder="Name"
                       class="border rounded px-6 w-6/6 bg-bege"
                       th:classappend="${#fields.hasErrors('name')} ? 'border-red-500' : 'border-oliveira'"/>
            </div>
        </div>

        <div>
            <div>
                <a>Email</a>
                <input type="email"
                       th:field="*{email}"
                       placeholder="Email"
                       class="border rounded px-6 w-6/6 bg-bege"
                       th:classappend="${#fields.hasErrors('email')} ? 'border-red-500' : 'border-oliveira'"/>
            </div>
        </div>

        <div>
            <div>
                <a>Phone</a>
                <input type="tel"
                       pattern="[0-9]{9}"
                       th:field="*{phone}"
                       placeholder="phone"
                       class="border rounded px-6 w-6/6 bg-bege"
                       th:classappend="${#fields.hasErrors('phone')} ? 'border-red-500' : 'border-oliveira'"/>
            </div>
        </div>

        <div>
            <div>
                <a>Password</a>
                <input type="password"
                       th:field="*{password}"
                       placeholder="Password"
                       class="border rounded px-6 w-6/6 bg-bege"
                       th:classappend="${#fields.hasErrors('password')} ? 'border-red-500' : 'border-oliveira'"/>
            </div>
        </div>

        <div>
            <div>
                <a>Street</a>
                <input type="text"
                       th:field="*{street}"
                       placeholder="Street"
                       class="border rounded px-6 w-6/6 bg-bege"
                       th:classappend="${#fields.hasErrors('street')} ? 'border-red-500' : 'border-oliveira'"/>
            </div>
        </div>


        <div>
                <a>Door</a>
                <input type="tel"
                       th:field="*{door}"
                       placeholder="Door"
                       class="border rounded px-6 w-2/3 bg-bege"
                       th:classappend="${#fields.hasErrors('door')} ? 'border-red-500' : 'border-oliveira'"/>
        </div>

        <div>
            <div>
                <a>Location</a>
                <input type="text"
                       th:field="*{location}"
                       placeholder="Location"
                       class="border rounded px-6 w-6/6 bg-bege"
                       th:classappend="${#fields.hasErrors('location')} ? 'border-red-500' : 'border-oliveira'"/>
            </div>
        </div>

        <div>
            <button>Edit</button>
        </div>

    </div>

</form>

</body>
</html>
